.Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-bottom: 1px solid #000;
  height: 60px;
}

.Logo {
  max-width: 40px;
  margin: 7px;
}

.LogoText {
  max-width: 80px;
  margin: 7px;
}

.BrandName {
  margin: 0;
  font-size: 24px;
  color: #000;
}

@media (min-width: 600px) {
  .Header{
    padding: 10px;
  }  
}

/* Media query for larger screens */
@media (min-width: 1024px) {
  .BrandName {
    font-size: 32px;
  }
}
